body {
    height: 100vh;
    width: 100vw;
    background-position: left;
    background-size: cover;
}

#canvas {
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px;
}

#startButton {
    position: relative;
    top: 300px;
    left: 350   px;
    font-family: sans-serif;
    font-size: 48px;

}