body {
    background-image: url("../assets/skylineV2.jpg");
}

#canvas {
    display: block;
    margin: 0 auto;
    background-color: rgb(255,220,139);
    border: 2px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px;
}


.main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    padding: 0 10%;
}

.leaderboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: rgb(86,84,106);
    border-radius: 7px;
    border: 2px;
    box-shadow: 5px 5px 10px black;
}

.leaderboard h3 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Chewy', cursive;
    font-size: 48px;
    color: whitesmoke;
    text-decoration: underline;
}

#leaderboard-list {
    list-style: none;
    font-family: 'Chewy', cursive;
    font-size: 32px;
    color: whitesmoke;
}

#total-scores-container {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#num-submits {
    font-family: 'Chewy', cursive;
    font-size: 30px;
    color: whitesmoke;
    text-decoration: underline;
}

#submits {
    font-family: 'Chewy', cursive;
    font-size: 30px;
    color: whitesmoke;
}

.center {
    width: 50%;
    position: relative;
}

.right{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

#icons {
    padding: 5%;
    height: fit-content;
    width: fit-content;
    font-size: 96px;
    cursor: pointer;
}

#icons:hover {
    color: rgb(255,220,139);
    -webkit-animation: rotateY 2s infinite linear;
    animation: rotateY 2s infinite linear;
}



@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}

.title {
    margin-top: 3%;
    font-family: 'Chewy', cursive;
    font-size: 80px;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Chewy', cursive;
    font-size: 48px;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
}

#instructions1 {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Chewy', cursive;
    font-size: 24px;
    color: black;
    display: none;
}

#instructions2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Chewy', cursive;
    font-size: 24px;
    color: black;
    text-align: center;

}



.gameover-title {
    margin: 0;
    padding: 0;
    margin-top: 5%;
    font-family: 'Chewy', cursive;
    font-size: 54px;
}

#gameover {
    background-color: rgb(86,84,106);
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5%;
    font-family: 'Chewy', cursive;
    font-size: 48px;
    color: whitesmoke;
    display: none;
    border-radius: 7px;
    border: 2px;
    box-shadow: 5px 5px 10px black;
}

#restart-button {
    cursor: pointer;
    animation:blinkingText 1.3s infinite;
}

@keyframes blinkingText{
   0%{     color: rgb(70, 70, 70);    }
   50%{    color: transparent; }
   100%{   color: rgb(48, 48, 48);    }
}

#restart-button:hover {
    cursor: pointer;
    color: rgb(195,120,103);
}

#submit-button:hover {
    cursor: pointer;
    color: rgb(195,120,103);
}

#initial-input {
    border-radius: 5px;
    height: 30px;
    outline: rgb(255,220,139);
    text-align: center;
}

#initial-input[type="text"] {
    font-family: 'Chewy', cursive;
    font-size: 24px;
    color: rgb(86,84,106);
    padding-left: 5px;
}

#submit-button {
    margin: 0;
    margin-top: 3%;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    font-family: 'Chewy', cursive;
    font-size: 48px;
    color: whitesmoke;
}
